// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:      'Poppins', sans-serif;
$font-size-base:              .875rem !default; // Assumes the browser default, typically `16px`

// Color
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       #FE634E !default;
$secondary:     #2421DA !default;
$tertiary:      #5d5d5d !default;
$success:       #2BC155 !default;
$info:          #0099ff !default;
$warning:       #ff9900 !default;
$danger:        #FF4847 !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "tertiary":   $tertiary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$theme-color-interval:      10% !default;
$yiq-contrasted-threshold:  200 !default;
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

// Border Radius
$border-radius:               .5rem !default;
$border-radius-lg:            .65rem !default;
$border-radius-sm:            .3rem !default;

// Box Shadow
$box-shadow-sm:               0 0.1rem 1rem $gray-200 !default;
$box-shadow:                  0 0.5rem 1rem $gray-200 !default;
$box-shadow-lg:               0 0.25rem 2rem $gray-300 !default;

// Sidebar
$sidebar-width:               280px !default;
$sidebar-width-sm:            90px !default;
