.form-control,
.custom-select {
    border-color: lighten($dark, 65%);

    &:focus {
        border-color: lighten($primary, 25%);
    }
}

.form-control-plaintext {
    outline: 0;
}

.form-control.is-valid,
.custom-select.is-valid {
    border-color: lighten($success, 15%);

    &:focus {
        box-shadow: 0 2px 4px 2px rgba($success, 10%);
        border-color: lighten($success, 10%);
    }
}

.form-control.is-invalid,
.custom-select.is-invalid {
    border-color: lighten($danger, 10%);

    &:focus {
        box-shadow: 0 2px 4px 2px rgba($danger, 10%);
        border-color: lighten($danger, 10%);
    }
}